<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>の歴史</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body class="senkawa">
  
  	<% include header %>
	<div class="container-wrapper">
		<article class='container-fluid wiki-article'>
		<div class="wiki-article-menu">
			<div class="btn-group" role="group">
				<a class="btn btn-secondary" href="/history/<%= title %>">履歴</a>
				<a class="btn btn-secondary" href="/edit/<%= title %>">編集</a>
			</div>
		</div> <!-- wiki-article-menu -->
			<h1 class="title"><%= title %></h1>
			<div class="wiki-content">
				<ul>
					<% modarray.forEach(function(mod) { %>
					<li>
						<time datetime="<%= mod[1] %>" data-format="Y-m-d H:i:s"><%= mod[1] %></time>
						<strong><%= mod[0] %></strong>
					</li>
					<% }); %>
				</ul>
			</div>
		</article>
	</div>
	<!-- container -->
</body>
</html>
