<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/script/mywiki.js"></script>
  </head>
  <body class="senkawa">
  
  	<% include header %>
	<div class="container-wrapper">
		<article class='container-fluid wiki-article'>
		<div class="wiki-article-menu">
			<div class="btn-group" role="group">
				<a class="btn btn-secondary" href="/history/<%= title %>">歴史</a>
				<a class="btn btn-secondary" href="/edit/<%= title %>">編集</a>
			</div>
		</div> <!-- wiki-article-menu -->
			<h1 class="title"><%= title %></h1>
			<p class="wiki-edit-date">最近修正時間: <time datetime="<%= finalModifiedDate %>" data-format="Y-m-d H:i:s"><%= finalModifiedDate %></time></p>
			<div class="wiki-content">
				<div class="wiki-inner-content">
					<%- content %>
				</div>
			</div>
		</article>
	</div>
	<!-- container -->
</body>
</html>
